/* use Alegreya as default font */
.container-fluid{
	font-family: 'Alegreya', serif;
	font-size: 20px;
    padding: 0px;
}

.row{
  margin:0px;
}

[class*="col-"]{
  padding: 0px;
  margin: 0px;
}

/*title image of home page*/
.title-image{
	width:100%;
}

/* mobile navbar */
.mobile-nav
{
  height: 120px;
}

@media (orientation:landscape){
  .mobile-nav{
    height: 80px;
  }
}

/*menu image for mobile*/
.menu-image{
  margin:0px 20px 0px 20px;
  height:100%;
}

/*menu image for mobile*/
.menu-image-selected{
  margin:0px 10px 0px 10px;
  padding:0px 10px 0px 10px;
  background: #348619;
  height:100%;
}

/* overwrite navbar styles */
.navbar-default {
  background-color: #44ae21;
  border-color: #348619;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #64ff30;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #64ff30;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #64ff30;
  background-color: #348619;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #64ff30;
  background-color: #348619;
}
.navbar-default .navbar-toggle {
  border-color: #348619;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #348619;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #64ff30;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #64ff30;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #64ff30;
    background-color: #348619;
  }
}

/*Ben and Sterling
Overlaying "Developers" over team image
*/
.parent{
    position:relative;
    top:0;
    left:0;
}

.image1{
   position:relative; 
    top:0;
    left:0;
}
.dev-title-mobile{
    position:absolute;
    top:80%;
    left: 10;
    font-size: 65% ;
    font-family: 'IM Fell English SC', serif;
}

.portrait{
    width: 34%;
    display: inline-block;
}

.bio{
    width: 65%;
    display: inline-block;
    height: 360px;
    font-family: 'IM Fell English SC', serif;
    /*background-color:#61a052; 
    border-color:#348619;
    border-style: double;*/
    border-width: 10px;
    color:#0a0a0a;
    vertical-align: middle;
    /* margin-top: auto; */
    /*text-shadow: 2px 2px rgba(42, 47, 82, 0.95);*/
}


.dev-title-desktop{
    position:absolute;
    top:80%;
    left: 10;
    font-size:100%;
    font-family: 'IM Fell English SC', serif;
}

.role{
    font-family: 'Alegreya', serif;
    font-size: 24;
    text-align: center;
    font-style: italic;
}
.name{
    font-size: 30;
    font-weight: bold;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
}

.nickname{
    font-family: 'IM Fell English', serif;
    font-size: 20;
    margin-left: 7;
}

.description{
    text-indent: 50px;
    text-align: left;
    margin-top: 16px;
    font-family: 'Alegreya', serif;
}

.species{
    font-family: 'IM Fell English', serif;
    text-align: center;
    font-size: 16;
    font-weight: bold;
    margin-top: 20;
}

.person{
    border-bottom: 2px solid #44ae21;
    padding: 20px 20px 20px 20px;
}

.game-images{
    width:60%;
    display: inline-block;
    /*margin-top:50px;*/
    /*height: 60%;*/
    padding: 10px 0px 0px 10px;
}
.game-portrait{
    /*height:80%;*/
    width: 37%;
    display: inline-block;
    padding: 10px 0px 0px 10px;
}

.game-info{
    text-indent:50px;
    padding: 0px 0px 0px 20px;
    font-family: 'IM Fell English SC', serif;
    font-weight:bolder;
}

.icons{
    margin-top: 100;
    width:59%;
    display: inline-block;
}
.learn-more{
    display: inline-block;
    margin-top: 30px;
    width:40%;
    font-size: 36;
    padding: 0px 0px 0px 100px;
    font-family: "Alegreya", serif;"
}

.list-group-item{
    width:40%;
}

.press-title{
    font-size: 72;
    font-family: 'IM Fell English', serif;
    text-align: center;
    padding: 150px 0px 75px 0px;
}

.press-topic{
    border-top: 2px solid #44ae21;
    border-bottom: 2px solid #44ae21;
    font-size: 40;
    font-family: 'Alegreya', serif;
    padding: 20px 10% 20px 25%;
}
.fact-sheet{
    vertical-align: middle;
    display: inline-block;
    width: 50%;
    padding: 0px 0px 0px 25%;
}

.fact-sheet-image-div{
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

.fact-sheet-image-holder{
    display: block;
    /* max-width: 80%;
    max-height: 80%;
    width: 80%;
    height: 80%;*/
    overflow: hidden;
    padding: 20px 0px 20px 0px;
}

.game-info-stripped{
    text-indent:50px;
    padding: 0px 0px 0px 20px;
}

.feature-box{
    display: inline-block;
    vertical-align: middle;
    width: 32%;
    margin: auto;
}
    
.feature-box-top{
    padding: 50px 0px 0px 0px;
    position:relative;
    text-align: center;
}

.feature-box-bottom{
    text-indent: 25px;
    height: 15%;
    padding: 0px 20px 0px 20px;
}

.feature-div{
    width: 90%;
    margin: auto;
}

.banner-center{
    padding: 50px 0px 10px 0px;
    display: block;
    margin: auto;
    text-align: center;
    min-width: 10%;
}

.banner-download{
    text-align: center;
    padding: 0px 0px 5% 0px;
}